
.footer{
    width:100%;
    /* max-width: 1400px; */
    margin-top: 40px;
    padding: 80px;
    box-shadow: 0 -10px 40px rgb(238, 238, 238, .2) ;
}
.footer > img{
    margin-bottom: 20px;
}
.sourseInfo{
    display: flex;
    justify-content: space-between;
    padding:40px 20px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
ul.sourseLink h4{
    margin-bottom: 10px;
}
ul.sourseLink a{
    text-decoration: none;
    color: #f5f5f5;
    padding: 10px 0;
    display: block;
}
ul.sourseLink a:hover{
    font-weight: 800;
}
.business_hours{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.business_hours h4{
    margin: 0;
    padding: 0;
}
.business_hours p{
    line-height: 1.6;
}

.media_logo{
    display: flex;
}
.media_logo a{
    font-size: 0;
    display: block;
    margin-right: 40px;
    
   
}
.media_logo img{
    width: 36px;
    height: 36px;
}

.remind{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
.remindInfo{
    display: flex;
}
.remindInfo p{
    margin-right: 20px;
}
.remindInfo a{
    margin-right: 20px;
    color: #eee;
}
.backToTop{
    display: flex;
    text-decoration: none;
    color:#f5f5f5;
}
.backToTop img{
    margin-left: 20px;
}

/* ========= 斷點 ======== */
@media (max-width: 1080px) {

  .sourseInfo{
    flex-direction: column;
    position: relative;
  }
  ul.sourseLink{
    position: relative;
    display: flex;
  }
  
  .link_list{
    position: absolute;
    margin-left: 200px;
    display: none;
    padding-left: 12px;
    border-left: solid 4px #eee;
    z-index: 10; 
  }

  ul.sourseLink .title_sm:hover{
    color: #f5f5f5;
    display: block;
    cursor: pointer;
    box-sizing: content-box;
  }
  

  ul.sourseLink h4{
      width: 200px;
      margin-bottom: 0;
      color:#aaa;
      padding: 10px 0;
  }

 .sourseLink.ProductAndPrice .link_list{
    bottom: 0;
 }
.sourseLink.Company .link_list.show{
    bottom: 0;
  }
  /* 社群媒體與營業時間轉成浮動卡片 */
  .business_hours{
    background-color: #333;
    position: absolute;
    right: 0;
    bottom: 20%;
    position: fixed;
    padding: 20px;
    border-radius: 16px 0 0 16px;
    z-index: 20;
  }
  .business_hours h4{
    font-size: 16px;
  }
  .business_hours p {
    font-size: 12px;
  }
  .media_logo a{
    margin-right: 2vw;
    
  }
  .media_logo img{
    width: 24px;
    height: 24px;
  }



}


@media (max-width: 768px) {
    
}

@media (max-width: 414px) {
    
}