@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols:wght@300;400;600;800&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Sans:wght@400;600;800;900&display=swap');
/* font-family: 'Noto Sans', 'Noto Sans TC', sans-serif;
font-family: 'Noto Sans Symbols', sans-serif; */


*,*::before,*::after{
    /* outline: solid 1px red; */
    box-sizing: border-box;
    /* position: relative;  */
}
/* -------------------------------- */
html,body{
    
    background-color: black;
    display: flex;
    justify-content: center;
    color: #f5f5f5;
    box-sizing: border-box;
    
}



.index{
    max-width: 1920px;
    margin: 0 auto;
    font-family: 'Noto Sans', 'Noto Sans TC', sans-serif;
    font-size: 16px;
    line-height:1.5;
    overflow: hidden;

}
/* -------------------------------- */
/* header */
.header{
    display: flex;
    flex-direction: column;
}
    


.banner{
    /* max-width:1296px; */
    font-family: 'Noto Sans Symbols', sans-serif;
    display: flex;
    padding: 12px 80px;
    justify-content: space-between;
    align-items: center;
    
}
.banner_left{
    display: flex;
    align-items: end;
    font-size: 14px;
    
}

.banner_left>img{
    padding-right: 20px;
}
.banner_left p{
    padding-right: 20px;
}
.banner_right{
    display: flex;
}
ul.catalog{
    display: flex;
    align-items: center;
    margin-right: 20px; 
   
}
.catalog a{
    text-decoration: none;
}
.pagename{
    display: block;
    padding: 0 16px;
    color:#f5f5f5;
    
}
.nowPage{
    position: relative;
}
.nowPage:after{
    content:"";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 34px;
    
}
.btn{

    padding: 6px 12px;
    background-color: #f5f5f5;
    color: #333;
    font-size: 14px;
    display: block;
    border-radius:4px ;
    font-weight: 800;
    text-decoration: none;
    
}
.btn.logIn{
    margin-right: 20px;
}
.btn.signUp{
    background-color: #E0B327;
}
/* masterVision */
.masterVision{
    display: flex;
    flex-direction: column;
    background-image: url(./img/header_bg.jpg);
    
    background-size:  cover ;
    padding:150px 0px 80px 80px ;
}
.visit{
    margin-top: 20px;
    font-size: 20px;
    width: 260px;
    text-align: center;
    text-decoration: none;
    /* margin-bottom: 80px; */
}
.header_logo_bg>img{
    display: block;
}
/* infoBlock */
.infoBlock{
    display: flex;
    padding: 80px 180px;
    background-color: #fff;
    color: #333;
}
.text{
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.infoBlock h1{
    font-size: 60px;
    line-height: 1.2;
    font-weight: 700;
}
.bigText{
    font-size: 80px;
    font-weight: 800;
}
.infoBlock p{
    padding: 20px 0;
    font-weight: 400;
}

/* main_section1 */
/* how we work*/
.main_section1{
    padding: 80px 180px;
    display: flex;
    justify-content: space-between;
 
}
.main_section1 .left{
    margin-right: 10%;
    flex:5;
    
}
.title_sm{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
}
.title_md{
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
}
.main_section1 .right{
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex:6;
}
.main_section1 p{
    padding: 20px 0;
}
.btns{
    display: flex;
    cursor: pointer;
}

.btn.signup{
    background-color: #E0B327;
    margin-left: 20px;
}


/* main_section2 */
/* WHAT WE SUPPLY */
.main_section2{
    background-image: url("./img/body_pic2_bg.png");
    padding: 40px 180px 80px ;
    background-repeat: no-repeat;
    background-size: cover;
}
.infoText{
    width: 50%;
}
.main_section2 p{
    margin-top: 40px;
}
.success{
    display: flex;
    text-align: center;
    margin-top: 40px;
   
}
.success > div{
    padding: 0 40px;
}
.success .title_sm{
    margin-bottom: 0;
} 


/* main_section3 */
/* ad */
.main_section3{
    background-color: #fff;
    color: black;
    border-radius: 60px;
    padding: 40px 180px;
    justify-content: space-between;
}
.main_section3 .title_md{
    text-align: center;
    margin-bottom: 40px;
}
.content{
    display: flex;
}
.content .left{
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.infoList{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-top: solid 1px black;
    border-bottom: solid 1px black; 
    margin: 40px 0;
}
.infoList li{
    padding: 10px 0;
}
ul.detail{
    padding-left: 10px;
}
.btn.booking{
    text-decoration: none;
    text-align: center;
    font-size:28px ;
    font-weight: 300;
    background-color: #333;
    color:#fff;
    border-radius: 16px;  
}

/* card */
.service{
    padding: 80px 180px;
}
ul.cards{
    display: flex;
    justify-content: center;
    position: relative;
}
ul.cards::before{
    content:"";
    width: 380px;
    height:100% ;
    background-color: black;
    position: absolute;
    left: -180px;
    z-index: 10;
    opacity:0.6;
}
ul.cards::after{
    content:"";
    width: 380px;
    height:100% ;
    background-color: black;
    position: absolute;
    right: -180px;
    z-index: 10;
    opacity:0.6;
}

.subTitle{
    display: flex;
    margin-bottom: 40px;
}
.subTitle img{ 
    margin-right: 40px;    
}

.card_img{
    font-size: 0;
    
   
}
li.card{
    margin: 0 20px;
    background-color: #fff;
    color: #333;
    border-radius: 16px;
    border: solid 2px #eee;
    
    /* overflow: hidden; */


    
}
.service_info{
    z-index: 5;
}
.service_info h4{
    padding: 20px 40px;
    margin: 0;
    border-top: solid 2px #eee;
    border-bottom: solid 2px #eee;
    
}
.service_info p{
    padding: 10px 40px;
    border-top: solid 2px #eee;
    color: #747474;
}
.link{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    border-top: solid 2px #eee;
    color: #747474;
    
}
.tag{
    font-weight: 600;
}
.likeAndShare{
    display: flex;
 
}
.likeAndShare a{
    text-decoration: none;
    display: flex;
    margin-left:20px;

}
.likeAndShare img{
    display: block;
    margin-right:12px;
}

/* footer */
.footer{
    margin-top: 40px;
    padding: 80px;
    box-shadow: 0 -10px 40px rgb(238, 238, 238, .2) ;
}
.footer > img{
    margin-bottom: 20px;
}
.sourseInfo{
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
ul.sourseLink h4{
    margin-bottom: 10px;
}
ul.sourseLink a{
    text-decoration: none;
    color: #f5f5f5;
    padding: 10px 0;
    display: block;
}
.business_hours{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.business_hours h4{
    margin: 0;
    padding: 0;
}
.business_hours p{
    line-height: 1.6;
}

.media_logo{
    display: flex;
}
.media_logo a{
    font-size: 0;
    display: block;
    margin-right: 40px;
    
   
}
.media_logo img{
    width: 36px;
    height: 36px;
}

.remind{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
.remindInfo{
    display: flex;
}
.remindInfo p{
    margin-right: 20px;
}
.remindInfo a{
    margin-right: 20px;
}
.backToTop{
    display: flex;
    text-decoration: none;
    color:#f5f5f5;
}
.backToTop img{
    margin-left: 20px;
}

