@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols:wght@300;400;600;800&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Sans:wght@400;600;800;900&display=swap');
/* font-family: 'Noto Sans', 'Noto Sans TC', sans-serif;
font-family: 'Noto Sans Symbols', sans-serif; */


*,*::before,*::after{
    /* outline: solid 1px red; */
    box-sizing: border-box;
    position: relative;
}
/* -------------------------------- */
html,body{
    background-color: #eee;
    display: flex;
    justify-content: center;
    color: #333;
    box-sizing: border-box; 
}
/* h4 */
.title_sm{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
}
/* h2 */
.title_md{
    font-size: 44px;
    line-height: 1.2;
    font-weight: 700;
}
a{
    text-decoration: none;
}
/* -------------------------------- */

.index{
    max-width: 1920px;
    margin: 0 auto;
    font-family: 'Noto Sans', 'Noto Sans TC', sans-serif;
    font-size: 16px;
    line-height:1.5;
    overflow: hidden;
    position: relative;

}
/* -------------------------------- */
/* header */
.header{
    max-width: 1400px;
    display: flex;
    flex-direction: column;
}
    


.banner{
    max-width: 1400px;
    font-family: 'Noto Sans Symbols', sans-serif;
    display: flex;
    padding: 12px 80px;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    
}
.banner_left{
    display: flex;
    align-items: end;
    font-size: 14px;
    
}

.banner_left>img{
    padding-right: 20px;
}
.banner_left p{
    padding-right: 20px;
    color:#eee;
}
.banner_right{
    display: flex;
}
ul.catalog{
    display: flex;
    align-items: center;
    margin-right: 20px; 
   
}
.catalog a{
    text-decoration: none;
}
.pagename{
    display: block;
    padding: 0 16px;
    color:#f5f5f5;
    
}
.nowPage{
    position: relative;
}
.nowPage:after{
    content:"";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 36px;
    
}
.btn{

    padding: 6px 12px;
    background-color: #f5f5f5;
    color: #333;
    font-size: 14px;
    display: block;
    border-radius:4px ;
    font-weight: 800;
    text-decoration: none;
    
}
.btn.logIn{
    margin-right: 20px;
}
.btn.signUp{
    background-color: #E0B327;
}


/* main-vision */
.masterVision{
    max-width:1400px;
    background-image: url(./img/header_bg.png);
    padding: 192px 80px 106px;
}


.title{
    font-size: 80px;
    font-weight: 800;
    color:#fff;
    margin-right: 20px;
}

/* main article*/
.main{
    margin-top: -40px;
    max-width: 1400px;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 80px;
    border-radius: 40px;
    justify-content: space-between;
}

.main .left{
    display: flex;
    flex-direction: column;
    width: 59%;
    /* margin-right: 100px; */
}

.main .left .titleText{
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 40px;
}
.main .left .title_md{
    
    margin-right: 20px;
}
.main .price{
    width: 40%;
    font-size: 32px;
    font-weight: 800;
}

/* icon */

.main .left .servers{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    border-top:solid 1px #333;
    border-bottom:solid 1px #333;
    margin-bottom: 40px;

}
.icon_service{
    margin-bottom: 20px;
}
.server_item{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* section */
/* rule */
.rule .title_sm{
    margin-bottom: 20px;
}
.rule {
    margin-bottom: 80px;
}
.rule a{
    font-weight: 500;
    color: #000;
    transition:0.5s;
}
.rule a:hover{
color:#E0B327;
}
/* section */
/* order */
.order_info .title_sm{
    padding-bottom: 40px;
    border-bottom: solid 1px #333;
}

.order_detail{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 40px;
}
.order_detail>div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.order_name{
    display: flex;
    justify-content: space-between;
}

.order_detail .order_name input{
    width: 49%;  
}


.order_detail .order_name .firstName ,
.order_detail .order_name .lastName{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order_detail .order_name .lastName{
    margin-left: 40px;
}
.order_detail label{
    font-weight: 600;
    display: inline-block;
    width: 132px;
    margin-right: 20px;
}
.order_detail input{
    appearance:none;
    width: 76%;
    padding: 8px;
    border: solid 1px #eee;
    background-color: #f5f5f5;
    border-radius: 8px;
    font-size: 16px;
}
input:focus{
    outline:none;
    background-color: #eee;
}

 /* section */
 /* locate */
 .locate .title_sm{
    margin-bottom: 20px;
 }
.map{
    font-size: 0;
    margin-top: 20px;
}




/* right */
.main .right{
    /* position: absolute;
    right: 80px;
    top: 15%; */
    display: flex;
    flex-direction: column;
    width: 35%;
    
}
.calendar{
    font-size: 0;
}
.calendar img{
    width: 100%;
}


.orderList{
    margin-top: 40px;
    border-color: #eee;
    margin-bottom: -20px
}
.order_item select{
    background-image: url("./img/arrow_drop_down.svg");
    background-repeat: no-repeat;
    z-index: 10;
    background-position: right 5% center;
}
.order_item select{
    appearance: none;

    width: 100%;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    border-color:#B3B3B3;
    margin-bottom: 20px;
    border-radius: 8px;

}
.order_item select:focus{
    outline: none;
}
.btns{
    margin-bottom: -20px;
    margin-top: 40px;
}
.right .btn{
    padding: 12px;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #9f9f9f;
    color:#f5f5f5;
    border-radius: 16px;
}
.btn.comfirm{
    background-color: #E0B327;
}

.booked{
    text-align: center;
    padding: 80px 40px;
    padding-bottom: ;
    font-size: 36px;
}


/* bottom */
/* cards*/
/* space_type*/
.space_type{
    max-width: 1400px;
    padding: 120px 0;
}
.space_type>.title_md{
    padding: 0 80px 40px 80px;
}

ul.cards{
    display: flex;
    justify-content: center;
    position: relative;
}
ul.cards li{
    margin-right: 20px;
}
.card_img{
    font-size: 0;
}
.card{
    background-color: #fff;
    color: #333;
    border-radius: 16px;
    border: solid 2px #eee;
    
    /* overflow: hidden; */ 
}
.service_info{
    z-index: 5;
}
.service_info h4{
    padding: 20px;
    margin: 0;
    border-top: solid 2px #eee;
    border-bottom: solid 2px #eee; 
}
.service_info p{
    padding: 10px 20px;
    color: #747474;
}
.link{
    margin-top: 20px;
}
.icon_service{
    font-size: 0;
}


/* footer */
.footer{
    background-color: #000;
    max-width: 1400px;
    padding: 80px;
    box-shadow: 0 -10px 40px rgb(238, 238, 238, .2) ;
    color:#f5f5f5
}
.footer > img{
    margin-bottom: 20px;
}
.sourseInfo{
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
ul.sourseLink h4{
    margin-bottom: 10px;
}
ul.sourseLink a{
    text-decoration: none;
    color: #f5f5f5;
    padding: 10px 0;
    display: block;
}
.business_hours{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.business_hours h4{
    margin: 0;
    padding: 0;
}
.business_hours p{
    line-height: 1.6;
}

.media_logo{
    display: flex;
}
.media_logo a{
    font-size: 0;
    display: block;
    margin-right: 40px;
    
   
}
.media_logo img{
    width: 36px;
    height: 36px;
}

.remind{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
.remindInfo{
    display: flex;
}
.remindInfo p{
    margin-right: 20px;
}
.remindInfo a{
    margin-right: 20px;
    color: #eee;
}
.backToTop{
    display: flex;
    text-decoration: none;
    color:#f5f5f5;
}
.backToTop img{
    margin-left: 20px;
}

