.faq{
    //*{outline: solid 1px red;}
    .pageContainer{
        width: 100%;
        background-image: url(../../images/FAQ/main_bg.png); 
        background-size: cover;
    }
    /* top */
    .top{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 200px 80px ;

        @include d(980px){
            @include flex(column);
        }
        @include p(){
            padding: 120px 40px ;
        }
     
    }
    
    .title{
        font-size: 60px;
        font-weight: 800;
        color:#fff;
        margin-right: 20px;
        padding-bottom: 20px;
        
    }
    /* provide */
    .provide{
        display: flex;
        width: 52%;
        z-index: 3;
        text-shadow: 0 0 5px rgba(#000,.5);
        @include d(980px){
            width: 100%;
        }
        @include p(){
            @include flex(column);
        }
     
        
    }
    .provide_item{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex:1;
        min-width:142px;

        @include p(){
            @include flex(row);
        }

    }
    .title_sm{
        @include p(){
            font-size: 20px;
            margin: 0 20px;
        }
    }
    .provide_item img{
        margin-bottom: 40px;
        @include p(){
            margin-bottom: 0;
            @include size(40px);
        }
    }
    .line{
        width: 60px;
        height: 1px;
        background-color: $white;
        margin-top: 40px;
    }
    .man{
        position: absolute;
        left: 20%;
        bottom: -60px;
        z-index: 2;
        @include d(980px){
            transform: scale(.8);
            bottom: -100px;
        }
    }
    /* ---------------------------------------- */
    /* sdgs */
    
    .sdgs{
        position: relative;
        background-color: #fff;
        margin-left: 12%;
        padding: 80px 0 80px 80px;
        color:#000;
        border-radius: 40px 0 0 40px;
        @include flex(row,space-between);
        @include p(){
            padding: 40px;
        }
        
        .sdgs_text{
            margin-right: 80px;
            min-width: 280px;
            max-width: 720px;
            
            @include p(){
                margin-right: 40px;
            }
            
        }

        .sdgs_bg{
           @include p(){
            display: none;
           }
        }
    }

    .sdgs .title_md{
        margin-bottom: 40px;
    }
    .woman{
        position: absolute;
        right: 40%;
        bottom: -160px;
        @include t(){
            right: 16%;
        }
        @include p(){
            bottom: -280px;
            transform: scale(.8);
        }
    }
    /* ---------------------------------------- */
    /* QA */
    .QA{
        padding: 200px 30% 120px;
        position: relative;
        @include p(){
            padding: 200px 10% 120px;
        }
    }
    .question_block{
        background-color:$white;
        color:#000;
        border-radius: 16px;
        margin-bottom: 20px;
        min-width: 280px;
    }
    .question{
        display: flex;
        align-items: center;
        padding: 16px;
        
    }
    .question img{
        margin-right: 20px;
    }
    .question .title_sm{
        margin-bottom: 0;
    }
    .answer p{
        padding: 20px 60px;
    }
    .box{
        position: absolute;
        left: 40px;
        top: 20%;
        transform:scale(.8);

        @include p(){
            top: 88%;
        }
    }
    /* ---------------------------------------- */
    /* bottom */
    .bottom{
        position: relative;
        @include flex(row,space-between,flex-end);
        padding: 0 20%;
        padding-bottom: 80px;
    }
    .bottom .left{
        font-size: 0;
        margin-right: 80px;
        @include t(){
            display: none;
        }
    }
    .bottom_logo{
        margin-bottom: 40px;
    }
    
    .bottom .left .title_md{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        text-decoration: none;
        color: #E0B327;
    }
    .bottom .left .title_md img{
        margin-left: 40px;
    }
    .notice{
    }
    
    .notice .title_sm{
        margin: 20px 0;
        color:#f5f5f5;
    }
    .notice p{
        padding-bottom: 20px;
        border-bottom: solid 1px #eee; 
        color:#f5f5f5;
    }
    .file{
        position: absolute;
        right:20px;
        bottom: 0px;
        @include t(){
            bottom: 50%;
            right: -10%;
        }
        @include p(){
            bottom: -80px;
        }
    }
    

}    
