.join{

    //*{outline: solid 1px red;}

    position: relative;

    .pageContainer{
        
    }

    /* main-vision */
    .masterVision{
        width: 100%;
        padding: 0;
        position: relative;
        margin: 0;
        @include p(){
            background-image: url('../../images/join/mv_bg.jpg');
            background-size: cover;
            
        }
    }
    
 


    /* frame */
    .iframe {
        width: 100%;
        /* ------------------------- */
        padding-bottom:56.25%; /* 设置宽高比例为16:9，可以根据需要调整 */
        overflow: hidden;  
        margin-top:-10%; 
        position: relative;
        @include p(){
            display: none;
        }
        

        iframe {
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

    }

    // 上方文字
    .text_block{
        @include flex(row,space-between,flex-end);
        background-color: black;
        width: 100%;
        position: absolute;
        bottom: -80%;
        padding: 40px 10% 120px;
        @include d(1020px){
            bottom: -40%;
        }
        @include p(){
            bottom: 0;
            padding:  40px 10%;
            background-color: initial;
        }

        @include d(636px){
            flex-direction: column;
            align-items: flex-start;
        }

        


        .titleText{
            display: flex;
            flex-direction: column;
            text-align: center;
            z-index: 10;
            margin-right: 40px;
            @include d(636px){
                margin-bottom: 20px;
            }

            .title{
                white-space: nowrap;
                font-size: 60px;
                font-weight: 800;
                color:#fff;
                text-shadow: 0 0 10px rgba(0, 0, 0,.2);
            }

            .title_sm{
                text-shadow: 0 0 10px rgba(0, 0, 0,.2);
                color:#fff; 
                margin-bottom: 0;
            }
            
        }
        .btns{
            @include d(1020px){
                @include flex(column,space-between,flex-start);
            }
        }
        .btn{
            display: flex;
            width: 200px;
            justify-content: space-between;
            margin-right: 40px;
            border-radius: 8px;
            background-color: #f5f5f5;
            color:#333;
            font-size: 20px;

            &.tenant{
                @include d(1020px){
                    margin-bottom: 20px;
                }
            }
            
        }

        img{
            margin-left: 20px;
        }
    }

    /* article */
    /* tenant */
    /* -------------------------------------*/
    .article{
        width: 100%;
        display: flex;
        padding: 0 10%;
        align-items: center;

    }
    .join_tenant{
        display: flex;
        margin-top: 300px;
        @include d(1020px){
            margin-top: 160px;
        }
        @include p(){
            margin-top: -40px;
            flex-direction: column;
            padding: 80px 10%;
        }
        .textInfo{
            margin-right: 80px;
            width: 70%;
            @include p(){
                width: 100%;
                margin: 0;
            }
        }
        .image{
            @include p(){
                display: none;
            }
        }
    }

    .article .title_md{
        padding-bottom: 40px;
        color: #E0B327;
        text-align: center;
    }
    .article p{
        font-weight: 700;
        padding-bottom: 40px;
    }
    .article .image{
        font-size: 0;
    }
    .article .btn{
        background-color: #333;
        color:#fff;
        font-size: 20px;
        text-align: center;
        background-color: $gray;
        transition:.5s;
        &:hover{
            background-color: $white;
            color: $black;
        }
    }

    /* -------------------------------------*/
    /* section */
    .slogan{
        text-align: center;
        color:$white;
        font-size: 48px;
        font-weight: 800;
        text-shadow: none;
    }
    /* -------------------------------------*/
    /* article */
    /* brand */
    .join_brand{
        background-image: url(../../images/join/brand_bg.png);
        padding: 100px 10% 320px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @include p(){
            padding-bottom: 200px;
        }

        .image{
            margin-right: 80px;
            width: 40%;
            @include d(1020px){
                display: none;
            }
        }
        .textInfo{
            width: 50%;
            @include d(1020px){
                width: 80%;
                margin: 0 auto;
            }
            @include p(){
                width: 100%;
            }

        }
    }


    /* form */
    .contact_detail{
        display: flex;
        flex-direction: column;
        appearance: none;
        
    }
    .contact_detail>*{
        margin-bottom: 20px;
    }
    .personal{
        display: flex;
        justify-content: space-between;
        
        width: 100%;
        height: 100%;
    }
    .contact_detail input, textarea, select{
        padding: 8px 16px;
        appearance: none;
        outline:none;
        border: none;
        border:solid 1px #aaa;
        border-radius: 4px;
        font-family: sans-serif;
        font-size: 16px;
        resize:none;
        
    }
    .personal>*{
        width: 28%;
    }
    .personal select{
        background-image: url("../../images/join/icon_arrow_down.png");
        background-repeat: no-repeat;
        background-position: center right 16px  ;
    }

    .btn.submit{
        border: none;
        width: 100%;
    }

    /* ------------------------------------*/
    /* bottom */
    .bottom{
        background-color: #E0B327;
        border-radius:0 40px 40px 0 ;
        width: 80%;
        display: flex;
        justify-content: space-between;
        padding: 40px 40px 40px 80px;
        position: absolute;
        bottom: 480px;
        z-index: 5;
        @include p(){
            width: 100%;
            bottom: 420px;
            padding: 40px;
            border-radius: 40px 40px 0 0;
            position: relative;
            bottom: 40px;
        }
        @include d(576px){
            flex-direction: column;
        }

    }
    .bottom .card{
        padding: 0 40px;
        @include d(1020px){
            padding: 0 ;
        }
    }
    .card.left{
        flex:3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .contect_method{
            p{
                padding: 10px 0;
            }
        }
    }

    .card.mid{
        border-right: solid 1px #f5f5f5;
        border-left: solid 1px #f5f5f5;
        display: flex;

        flex-direction: column;
        justify-content: end;
        padding-top:20px;

        @include t(){
            display: none;
        }
    }

    .media_logo{
        margin-bottom: 20px;
    }

    .customer_service{
        display: flex;
        align-items: end;
        @include p(){
            justify-content: space-between;
        }
       @include d(576px){
          display: none;
       }

    }
    .customer_service .img{
        margin-right: 20px;
        font-size: 0;
        @include p(){
           
        }

    }
    .customer_service .title_sm{
        margin: 16px 0;

    }
    .customer_service .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .footer{
        padding-top: 10vw;
    }



}
