<footer>
    <div class="footer">
        <img src="../images/header_logo.svg" alt="">
        <div class="sourseInfo">
            <ul class="sourseLink office">
                <h4 class="title_sm">OFFICE</h4>
                <div class="link_list">
                    <li>
                        <a href="#">Taipei, Taiwan</a>
                    </li>
                    <li>
                        <a href="#">Tokyo, Japan</a>
                    </li>
                    <li>
                        <a href="#">London, Uk</a>
                    </li>
                    <li>
                        <a href="#">SEA, USA</a>
                    </li>  
                </div>
                    
            </ul>
            
            <ul class="sourseLink Comminicate">
                <h4 class="title_sm">Comminicate</h4>
                <div class="link_list">
                    <li>
                        <a href="#">Interview</a>
                    </li>
                    <li>
                        <a href="#">Activity</a>
                    </li> 
                </div>
            </ul>

            <ul class="sourseLink ProductAndPrice">
                <h4 class="title_sm">Product / Price</h4>
                <div class="link_list">
                    <li>
                        <a href="#">Office Space</a>
                    </li>
                    <li>
                        <a href="#">Co-working Space</a>
                    </li>
                    <li>
                        <a href="#">Activity Space</a>
                    </li>
                    <li>
                        <a href="#">Meeting Room</a>
                    </li>      
                </div>
            </ul>

            <ul class="sourseLink Company">
                <h4 class="title_sm">Company</h4>
                <div class="link_list">
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li>
                        <a href="#">About us</a>
                    </li>
                    <li>
                        <a href="#">Leadership</a>
                    </li>
                    <li>
                        <a href="#">Responsibility</a>
                    </li>      
                </div>
            </ul>

            <div class="business_hours">
                <div class="media_logo">
                    <a href="https://www.instagram.com/" target="_blank">
                        <img src="../images/icon_ig.svg" alt="">
                    </a>

                    <a href="https://www.twitter.com/" target="_blank">
                        <img src="../images/icon_twitter.svg" alt="">
                    </a>
                    <a href="https://www.facebook.com/" target="_blank">
                        <img src="../images/icon_fb.svg" alt="">
                    </a>
                </div>
                <h4 class="title_sm">Business Hours</h4>
                <p>
                    Monday-Friday<br>
                    08:00 - 17:00<br>
                    Email : 123456@wfwh.com
                </p>    
            </div>
        </div>

        <div class="remind">
            
            <div class="remindInfo">
                <p>WFW[here]-2023</p>
                <a href="../FAQ.html">條款與條件</a>
                <a href="../FAQ.html">隱私政策</a>
            </div>
            <a href="#" class="backToTop">
                <p>Back to top</p>
                <img src="../images/icon_arrowUp.svg" alt="">
            </a>
        </div>
    </div>
</footer>