<header>

    <div class="banner white">

        <div class="banner_left">

            <i class="fa-solid fa-bars show"></i>
            <a href="index.html">
                <img src="../images/header_logo_black.svg" alt="">
            </a>
            <p>find your lancerScape anyHERE.</p>
        </div>

        <div class="banner_right">
            <ul class="catalog">
                <li> 
                    <a href="index.html" class="pagename" id="home">Home</a>
                </li>
                <li>
                    <a href="place.html" class="pagename" id="place">Place</a>
                </li>
                <li>
                    <a href="about.html" class="pagename" id="about">About</a>
                </li>
                <li>
                    <a href="blog.html" class="pagename" id="blog">Blog</a>
                </li>
                <li>
                    <a href="join.html" class="pagename" id="join">Join Us</a>
                </li> 
            </ul>
            
            <a href="#" class="btn logIn">LOG IN</a>
            <a href="#" class="btn signUp">SIGN UP</a>
            
        </div>
        
    </div>  
    
</header>   

