<div class="form_background">
    <form id="logInPage" class="form form_logIn" action="" method="post">
        <h2 class="title_sm logTitle">Log In</h2>
        <div class="form_img">
            <img  src="../images/signUp_logo.png" alt="">
        </div>
        
    
        <label class="field">
           <img src="../images/icon_account.svg" alt="">
           <input type="text" placeholder="User Name or E-mail Address " name="username" id="usernameLogIn" class="input">
        </label>
      
        <label class="field">
            <img src="../images/icon_password.svg" alt="">
           <input type="password" placeholder="Password" name="password" id="passwordLogIn" class="input">
        </label>


        <div class="separate">
            <div class="border"></div>
            <p>or</p>
            <div class="border"></div>
        </div>
        

        <!-- 待開發 連結社群帳號 -->
        <a href="https://www.facebook.com/" target="_blank" id="fbAccount" class="socialAccount">
            <img src="../images/icon_fb_color.png" alt="">
            <p>
                Continue with Facebook
            </p>
        </a>
    
        <a href="https://www.google.com.tw/" target="_blank" id="googleAccount" class="socialAccount">
            <img src="../images/icon_google_color.svg" alt="">
            <P>
                LOG IN with Google
            </P> 
        </a>
 

    
        <p class="accountToggle">Don't have an account?</p>
    
        <input type="submit" class="logButton" value="Continue">
    </form>
    <!-- signup -->
    <form id="signUpPage" class="form form_signUp" action="" method="post">
        <h2 class="title_sm logTitle">Sign Up</h2>
        <div class="form_img">
            <img  src="../images/signUp_logo.png" alt="">
        </div>
    
        <label class="field">
            <img  src="../images/icon_account.svg" alt="">
            <input type="text" placeholder="User Name or E-mail Address " name="signusername" id="signusername" class="input">
        </label>
    
        <label class="field">
            <img src="../images/icon_password.svg" alt="">
            <input type="password" placeholder="Password" name="passwordSignUp" id="passwordSignUp" class="input">
        </label>

        <label class="field">
            <img src="../images/icon_password.svg" alt="">
            <input type="password" placeholder="Confirm Your Password" name="passwordConfirm" id="passwordConfirm" class="input">
        </label>
    
        <p class="accountToggle">Have an account?</p>
    
        <input type="submit" class="logButton" value="Sign Up">

        <p class="remindText">註冊即表示您已閱讀並同意 
            <a href="../FAQ.html">服務條款</a> 
            <span>及</span> 
            <a href="../FAQ.html">隱私權政策</a>
        </p>
            
    </form>
</div>