.place{

    // *,*::before,*::after{
    //     outline: solid 1px red;
    // }
    
    /* main-vision */
    .masterVision{
        background-image: url("../../images/place/mv_bg_big.png");    
        height: auto; 
        padding: 80px 0 0;
    }


    .title{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
        flex-wrap: wrap;
        padding: 0 10%;
    }
    .title h1{
        font-size: 60px;
        color:#fff;
        line-height: 1;
    }
    .title{
        img{
            padding: 20px;
        }
    }

    /* searchbar section */
    .searchBar{
        width: 80%;
        margin: 0 auto;
        @include flex(row,space-between);
        flex-wrap: wrap;
        background-color: rgb(255, 255, 255, .8);
        padding: 40px;
        margin-bottom: 80px;
        border-radius: 16px;
        color:#333;

        @include d(976px){
            @include flex(column,space-between);
            padding: 40px 80px;
        }
        @include p{
            padding: 40px;
        }

        
    }

    .searchBar p{
        font-weight: 800;
        padding: 4px 0;
        white-space: nowrap;
        @include d(976px){
            width: 30%;
        }
    }
    .smaillTitle{
        width: 20%;
        min-width: 160px;
        @include d(976px){
            @include flex(row,space-between,space-between);
            width: 100%;
            margin-bottom: 20px;
        }
        @include d(896px){
            @include flex(column,space-between,flex-start);
        }
       
    }

    .order {
        appearance: none;
        font-weight: 600;
        flex:1;
        width: 100%;
        padding: 10px 40px 10px 32px;
        border:1px solid #ccc;
        border-radius: 8px;
        font-size: 16px;
        background-image: url("../../images/place/arrow_down.svg");
        background-repeat: no-repeat;
        background-position: right 20px center;
        cursor:pointer;
        
    }

    .search_container{
        display: flex;
        align-items: end;
        height: 70px;
        width: 20%;
        @include d(976px){
            min-width: none;
            width: 100%;
        }

    }
    .search{
        width: 100%;
        border-radius: 8px;
        font-size: 20px;
        font-weight: 600;
        cursor:pointer;
        transition:.3s;
        background-color: $black;
        color: $yellow;
        
        
        &:hover{
            background-color: $yellow;
            color:#f5f5f5;
            transform: translate(2px,2px);
        }
    }

    /* main-vision article */
    .theme{
        background-color: rgb(38, 28, 3,.8);
        color:#eee;
        width: 100%;
    }  
    .keyWord{
        @include flex(row,space-between,flex-start);
        padding: 80px 10vw 40px;
        flex-wrap: wrap;
    }
    .keyWord h2{
        margin-bottom: 32px;
    }

    
    .keyWord .left{
        flex:2;
        margin-right: 20px;
    }
    .keyWord .right{
        flex:1;
        display: flex;
        flex-direction: column;
        width: 20vw; 
    }


    .keyWord .right h4{
        padding: 20px;
        border: solid 1px #eee;
        border-radius: 16px;
        border-right: 0;
        font-size: 20px;
        font-weight: normal;
        transition:5s;
        
        
    }
    .keyWord .right h4:hover{
        background: linear-gradient(45deg, rgba(0,0,0,0.5), rgba(30,30,30,0.1)  ); 
    }
    .keyWord .right a{
        display: block;
        color:#eee;
        text-decoration: none;
    }
    .btns{ 
        padding: 10px 0;
        display: flex;
        
       .btn{
          margin: 20px 20px 20px 0;
          transition:.5s;
           &:hover{
            background-color: $yellow;

           }
       }
    }

    .bottom_block{
        display: flex;
        justify-content: center;
        font-size: 0; 
    }
    .bottom_block img{
        border-radius: 16px;
        width: 90vw;
        box-shadow: 0 0 20px rgba(0,0,0,.5);
        margin-bottom: 80px;
    }

    // ==========================
    /* cards*/
    /* space_type*/
    .space_type{
        width: 100%;
        padding: 80px 10%;
    }
    ul.cards{
        display: flex;
        justify-content: start;
    }
    ul.cards li{
        // margin-right: 20px;
    }
    .card_img{
        font-size: 0;
    }
    .card{
        background-color: #fff;
        color: #333;
        border-radius: 16px;
        border: solid 2px #eee;
        
        /* overflow: hidden; */ 
    }


    .service_info{
        z-index: 5;
    }
    .service_info h4{
        padding: 20px;
        margin: 0;
        border-top: solid 2px #eee;
        border-bottom: solid 2px #eee; 
    }
    .service_info p{
        padding: 10px 20px;
        color: #747474;
    }
    .link{
        margin-top: 20px;
    }
    .icon_service{
        font-size: 0;
        display: inline-block;
    
    
    }

    // ====================================
    /* ad */
    .ad_section{
        width: 80%;
        background-color: #fff;
        color: black;
        border-radius: 60px;
        padding: 80px 10vw;
        justify-content: space-between;
        position: relative;
        margin: 0 auto;
        @include p(){
            padding: 60px 40px;
        }
        @include m(){
            border-radius: 40px;
        }
    }
    .ad_section .title_md{
        text-align: center;
        margin-bottom: 40px;
    }
    .content{
        max-width: 50%;
        min-width: 280px;
        display: flex;
        flex-direction: column;

    }
    .content .left{
        margin-right: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        

    }
    .infoList{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px 20px;
        border-top: solid 1px black;
        border-bottom: solid 1px black; 
        margin: 40px 0;
        
    }
    .infoList li{
        padding: 10px 0;
    }
    ul.detail{
        padding-left: 10px;
    }
    .btn.booking{

        text-decoration: none;
        font-size: 16px;
        padding: 8px;
        font-weight: 300;
        background-color: #333;
        color:#fff;
        border-radius: 8px;  
        
        @include flex;
    }
    .btn.booking img{
        margin-right: 20px;
        transform: scale(0.7);
    }


    .ad_pic{
        right: -40px;
        bottom: 60px;
        font-size: 0;
        width: 45%;
        position: absolute;
        max-width: 532px;
    }
    .ad_pic img{
        width: 100%;
    }


    /* equipment_section */
    .equipment_section{
        position: relative;
        width: 100%;
        background-image: url("../../images/place/equipment_bg.png");
        margin-top: 80px;
        padding: 80px 10% ;
        background-repeat: no-repeat;
        background-size: cover;
        color:#000
    }
    .infoText{
        width: 50%;
    }
    .infoText .title_md{
        margin-bottom: 20px;
    }

    .equipment_section{
        color:#eee;

        .logo_md{
            margin-right: 20px;
            font-size: 0;
        }
        
        .infoTex a{
            display: block;
        
        
        }
        .btnSection{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

        p{
            margin-top: 40px;
        }
        
        &>img{
            position: absolute;
            bottom: -10%;
            right: 0;
            z-index: 10;
            width: 40vw;
        }
        & .btn{
            margin-top: 20px;
        }

    }




    @media (max-width:768px) {
        .keyWord{
            flex-direction: column;

            .btn{
                display: none;
            }
            p{
                margin-bottom: 20px;
            }
            .left{
                margin-right: 0;
            }
            .right{
                flex-direction: row;
                width: 100%;
                justify-content: space-between;
                
            }
            .right a{
            width: 32%;
            height: 80px;
            
            
            }
            .right h4{
                padding: 10px;
                font-size: 16px;
            }
            
        }
        .content{
            max-width: 100%;
        }
        .ad_pic{
            display: none;
        }
        .equipment_section{
            .infoText{
                width: 100%;
            }
            p{
                display: none;
            }
            img{
                bottom: -20%;
            }
        }
        
    }
    @media (max-width:468px) {
        .equipment_section{
        
            >img{
                display: none;
            }

        }
    }


}