.reservation{
    //*{outline: solid 1px red;}

    background-color: $white;
    color:black;

    /* main-vision */
    .masterVision{
        background-image: url(../../images/reservation/header_bg.png);
        display: flex;
        justify-content: flex-end;
        padding-bottom: 120px;

        .title{
            font-size: 80px;
            font-weight: 800;
            color:#fff;
            
            @include p(){
                font-size: 60px;
            }
            @include m(){
                font-size: 40px;
            }
        }
    }



    /* main article*/
    .main{
        margin-top: -40px;
        width: 100%;
        display: flex;
        background-color: #fff;
        padding: 80px 10%;
        border-radius: 40px;
        justify-content: space-between;
        position: relative;

        @include t(){
            flex-direction: column;
        }
    }

    .main .left{
        display: flex;
        flex-direction: column;
        width: 60%;
        @include t(){
            width: 100%;
        }
    }

    .main .left .titleText{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        @include p(){
            flex-direction: column;
        }
    }
    .main .left .title_md{
        margin-right: 20px;
        @include p(){
            margin: 0;
            padding-bottom: 20px;
        }
    }
    .main .price{
        width: 40%;
        font-size: 32px;
        font-weight: 800;
        white-space: nowrap;
        color: $black;
        @include p(){
            width: 100%;
        }
    }

    /* icon */

    .servers{
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        border-top:solid 1px #333;
        border-bottom:solid 1px #333;
        margin-bottom: 40px;
        
        .server_item{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 15%;
            white-space: nowrap;

            
            .serveText{
                @include p(){
                    display: none;
                }
            }
        }

        .icon_service{
            margin-bottom: 20px;
        }
    }



    /* section */
    /* rule */
    .rule .title_sm{
        margin-bottom: 20px;
    }
    .rule {
        margin-bottom: 80px;
    }
    .rule a{
        display: inline-block;
        font-weight: 500;
        color: #333;
        font-weight: 600;
        transition:0.5s;
        &:hover{
            color:#E0B327;
        }
    }
    
    /* section */
    /* order */
    .order_info .title_sm{
        padding-bottom: 40px;
        border-bottom: solid 1px #333;
    }

    .order_detail{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 40px;
    }
    .order_detail>div{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        align-items: center;
    }

    .order_name{
        display: flex;
        justify-content: space-between;
    }

    .order_detail .order_name input{
        width: 49%;  
    }


    .order_detail .order_name .firstName ,
    .order_detail .order_name .lastName{
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .order_detail .order_name .lastName{
        margin-left: 40px;
    }
    .order_detail label{
        font-weight: 600;
        display: inline-block;
        width: 132px;
        margin-right: 20px;
    }
    .order_detail input{
        appearance:none;
        width: 76%;
        padding: 8px;
        border: solid 1px #eee;
        background-color: #f5f5f5;
        border-radius: 8px;
        font-size: 16px;
    }
    input:focus{
        outline:none;
        background-color: #eee;
    }

    /* section */
    /* locate */
    .locate .title_sm{
        margin-bottom: 20px;
    }
    .map{
        font-size: 0;
        margin-top: 20px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        width: 100%;
        img{
            width: 120%;
        }
    }




    /* right */
    .main .right{
        display: flex;
        flex-direction: column;
        width: 26%;
        min-width: 280px;
        height: 100%;
        margin-top: 140px;
        @include t(){
            width: 100%;
        }
    }
    .booking_info{
        @include t(){
            display: flex;
            justify-content: space-between;
        }
        @include d(600px){
            flex-direction: column;
        }
    }
    .calendar{
        font-size: 0;
        
        @include t(){
            width: 40%;
            min-width: 280px;
            margin-right: 20px;
        }
        @include p(){
            width: 100%;
        }
        

        img{
            width: 100%;
        }
    }


    .orderList{
        margin-top: 40px;
        border-color: #eee;
        margin-bottom: -20px;

        @include t(){
            margin-top: 0;
            width: 50%;
            margin-bottom: 0px;
        }

        @include d(600px){
            width: 100%;
            margin-top: 40px;
        }
    }
    .order_item select{
        background-image: url("../../images/reservation/arrow_drop_down.svg");
        background-repeat: no-repeat;
        z-index: 10;
        background-position: right 5% center;
    }
    .order_item select{
        appearance: none;

        width: 100%;
        padding: 12px 24px;
        font-size: 16px;
        font-weight: 600;
        border-color:#B3B3B3;
        margin-bottom: 20px;
        border-radius: 8px;

    }
    .order_item select:focus{
        outline: none;
    }

    .right{
        .btns{
            margin-bottom: -20px;
            margin-top: 40px;

            @include t(){
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
        .btn{
            width: 100%;
            padding: 8px;
            font-size: 24px;
            margin-bottom: 20px;
            text-align: center;
            background-color: #9f9f9f;
            color:#f5f5f5;
            border-radius: 16px;
            transition:.5s;

            @include t(){
                width: 40%;
            }
            @include p(){
                width: 100%;
            }
            &.comfirm{
                background-color: #E0B327;
                @include t(){
                    width: 50%;
                }
                @include p(){
                    width: 100%;
                }
            }
            &:hover{
                background-color: #fff;
                color: $black;
                box-shadow: 0 0 20px rgba(#333,.2);

            }
        }
        .booked{
            text-align: center;
            padding: 80px 0;
            font-size: 36px;
        }
    }

 

    


    /* bottom */
    /* cards*/
    /* space_type*/
    .space_type{
        width: 100%;
        padding: 120px 10%;
        .title_md{
            padding-bottom: 40px;
        }
    }

    ul.cards{
        display: flex;
        justify-content: center;
        position: relative;
    }
    .card_img{
        font-size: 0;
    }
    .card{
        background-color: #fff;
        color: #333;
        border-radius: 16px;
        border: solid 2px #eee;
        
        /* overflow: hidden; */ 
    }
    .service_info{
        z-index: 5;
    }
    .service_info h4{
        padding: 20px;
        margin: 0;
        border-top: solid 2px #eee;
        border-bottom: solid 2px #eee; 
    }
    .service_info p{
        padding: 10px 20px;
        color: #747474;
    }
    .link{
        margin-top: 20px;
    }
    .icon_service{
        font-size: 0;
        height: 40px;
        img{
            height: 100%;
        }
    }
    .owl-carousel .owl-item .icon_service img {
        width: auto;
    }

}